In [ ]:
import psycopg2
from datetime import datetime

conn = psycopg2.connect(
    dbname="postgres",
    user="postgres",
    password="postgres",
    host="localhost",
    port="5432"
)
cursor = conn.cursor()

transformed_data = [
    {
        'company': 'openai',
        'title': 'Sample Title',
        'description': 'Sample Description',
        'content': 'Sample Content',
        'author': 'Sample Author',
        'published_at': datetime.now(),
        'source_name': 'Sample Source',
        'url': 'http://example.com'
    }
]
cursor.execute("""
            CREATE TABLE IF NOT EXISTS company_news (
                company TEXT,
                title TEXT,
                description TEXT,
                content TEXT,
                author TEXT,
                published_at TIMESTAMPTZ,
                source_name TEXT,
                url TEXT,
                timestamp TIMESTAMP DEFAULT CURRENT_TIMESTAMP
            );
        """)

for article in transformed_data:
    cursor.execute("""
        INSERT INTO company_news (company, title, description, content, author, published_at, source_name, url)
        VALUES (%s, %s, %s, %s, %s, %s, %s, %s);
    """, (
        article['company'],
        article['title'],
        article['description'],
        article['content'],
        article['author'],
        article['published_at'],
        article['source_name'],
        article['url']
    ))
conn.commit()
cursor.close()
conn.close()

UndefinedTable: relation "company_news" does not exist
LINE 2:         INSERT INTO company_news (company, title, descriptio...
                            ^